.main_div{
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
html{
    scroll-behavior: smooth;
}
html,body{
    height:140%;
}
#main_span{
    font-family: 'Lucida Sans Typewriter',serif;
    font-size: 30px;
    border-right: tomato solid 2px;
    overflow: hidden;
    min-width: 0%;
    letter-spacing: 2px;
    animation:
    blink-cursor 0.5s step-end infinite
}
.first{
    height:50%;
    background-color: black;
}
.second{
    top:50%;
    height: 50%;
    background-color: BLACK;
    color: whitesmoke;
    font-size: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    width:60%;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    display: inline-flex;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 4px;
    transition-duration: 0.2s;
}
.button:hover{
    background-color: tomato;
    color: white;
}
img{
    margin-left: 1%;
    display: flex;
    min-width: 0px;
    min-height: 0px;
    height: fit-content;
}
.text{
    display: flex;
}
.sub-parent{
    display: flex;
    flex-direction: column;
}
h2{
    margin-left: 1%;
}
.icon{
    max-height: 50px;
    margin-right: 10px;
    transition-duration: 0.2s;
}
.icon:hover{
    transform: scale(1.5);
}
.social{
    display: flex;
    position: absolute;
    left:0%;
    transform: translate(0%,10%);
    align-content: flex-end;
    flex-direction: column;
    width: 100%;
    height:40%;
}
.c{
    color: white;
    font-size: 20px;
}
.holder{
    display: flex;
    margin-left: 1%;
    
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.legend{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.button2{
    border: solid white 2px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    display: inline-flex;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 30px;
    transition-duration: 0.2s;
}
.button2:hover{
    background-color: WHITE;
    color: black;
}
.capsule{
        min-height: 45%;
        transition-duration: 0.4s;
        transition-delay: 0.1s;
        transform-style: ea;
        border-radius: 7px;
        width: 100%;
}
.capsule:hover{
    background-color: rgb(39, 39, 39);
}
@keyframes blink-cursor{
    from,to {border-right-color: transparent;}
    50% {border-right-color: tomato;}
}

